# MkDocs - pasta gerada pelo build, nunca versionar
site/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
.env
venv/
.venv/
db.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# Editores
.vscode/
.idea/
*.swp
*.swo

# Ignorar dados do banco local e e-mails do Mailpit
/data/